@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
header {
    background-image: linear-gradient(gray,#5A8613,#5A8613 );
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
body {
    background-image: linear-gradient(#17280B,#17280B,#17280B,#17280B,black);
    font-family: "Oswald", sans-serif;;
    margin: 0;
    text-shadow: 0px 0px 5px black;
    color: gold;
}
.a {
    width: 200px;
    height: 300px;
}
.b {
    width: 300px;
    height: 150px;
    
}
.hi {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.hc {
    width: 100%;
}
.h {
    text-align: center;
    font-size: 50px;
}
.href {
    background-color: gray;
    display: block;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 20px;
    transition: 0.5s;
}
a {
    font-size: 40px;
    text-decoration: none;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.short_message {
    font-size: 50px;
    text-align: center;
}
.href:hover {
    transform:translateY(-5px);
    box-shadow: 0px 10px 10px 0px black;
}
.ba {
    width: 600px;
    height: 300px;
}
.game_info {
    display: flex;
    width: 600px;
    font-size: 20px;
    text-align: center;
    display: block;
}
.link_to_steam {
    background-color: gray;
    display: block;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 20px;
    transition: 0.5s;
    float: right;
    transition: 0.5s;
}
.link_text {
    font-size: 20px;
    text-align: center;
}
.link_to_main_page {
    background-color: gray;
    display: block;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 20px;
    transition: 0.5s;
    float: right;
    display: flex;
    transition: 0.5s;
}
.main_link_text {
    font-size: 20px;
    text-align: center;
}
.steam_img {
    width: 60px;
}
.link_to_main_page:hover {
    transform:translateY(-5px);
    box-shadow: 0px 10px 10px 0px black;
}
.link_to_steam:hover {
    transform:translateY(-5px);
    box-shadow: 0px 10px 10px 0px black;
}
.stalker_map {
    width: 500px;
    height: 300px;
    display: block;
    transition: 0.5s;
}
.stalker_map:hover {
    transform: scale(2) translateX(-200px);
}
.stalkercs_map {
    width: 300px;
    height: 500px;
    display: block;
    transition: 0.5s;
}
.stalkercs_map:hover {
    transform: scale(2) translateX(-200px) translateY(-50px);
}
.game_info_and_map {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
}
footer {
    background-color: black;
}
.main_character_info {
    text-align: center;
    font-size: 30px;
}
.mci {
    text-align: center;
    padding: 20px;
}
.link_to_main_character {
    background-color: gray;
    display: block;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 20px;
    transition: 0.5s;
    float: right;
    display: flex;
    transition: 0.5s;
}
.link_to_main_character:hover {
    transform:translateY(-5px);
    box-shadow: 0px 10px 10px 0px black;
}
.link_to_back {
    background-color: gray;
    display: block;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 20px;
    transition: 0.5s;
    float: right;
    display: flex;
    transition: 0.5s;
}
.link_to_back:hover {
    transform:translateY(-5px);
    box-shadow: 0px 10px 10px 0px black;
}
.mci_img {
    width: 400px;
    height: 200px;
}
a {
    color: gold;
}